 img {
    max-width: 50%;
    height: auto;
  }
  
  #main_menu {
    background: #ff6700;
  }

  #mainMenu .nav-link {
    color: #FBFCFA;
  }
  
  #mainMenu .nav-link:hover {
    background: #FBFCFA;
    color: #043927;
    border-radius: 5px;
  }
  #mainMenu .nav-link.active {
    background: #043927;
    color: #FBFCFA;
    border-radius: 5px;
  } */

/* ### dark & light mode */
.search-form {
    position: relative;
}

.toggle {
  font-size: 1rem;
  border: .125em solid currentColor;
  border-radius: 2em;
  cursor: pointer;
  display: block;
  height: 2em;
  position: relative;
  width: 5rem;
  margin-right: 10rem;
  background-color: #050301;
}
.toggle span {
  background-color: #FBFCFA;
  border-radius: 2em;
  display: block;
  height: 1.6em;
  left: .25em;
  overflow: hidden;
  position: absolute;
  top: .10em;
  text-indent: -9999px;
  transition: left .25s;
  width: 2.5rem;
  z-index: 2;
}

.toggle::before,
.toggle::after {
  content: '';
  display: block;
  border-radius: 1em;
  position: absolute;
  z-index: 1;
}

.toggle::after {
  box-shadow: .25em .25em #5901d8;
  height: 1.125em;
  right: .9em;
  top: .125em;
  width: 1.125em;
}

.toggle::before {
  background-color: #ffc409;
  height: .625em;
  outline: .25em dotted #ffc409;
  outline-offset: .125em;
  left: .7em;
  top: .7em;
  width: .625em;
}

input:checked ~ .toggle span {
  left: 2em;
}


.sr-only {
  position: absolute;
  left: -9999px;
  opacity: 0;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color .25s;
  color: #1e1e1e;
  background: linear-gradient(to bottom right, #eefff4 25%, #ff6700 50%, #050301 75%, #050301);
  background-size: 300% 300%;
  background-position: top left;
  transition: background-position .5s;
}
body,
html {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}


body:has(#darkmode-toggle:checked) {
  background-position: 100% 100%;
  color: #d0d0d0;
}
   
     