 img {
    max-width: 50%;
    height: auto;
  }
  
  #main_menu {
    background: #043927;
  }

  #mainMenu .nav-link {
    color: #FBFCFA;
  }
  
  #mainMenu .nav-link:hover {
    background: #FBFCFA;
    color: #043927;
    border-radius: 5px;
  }
  #mainMenu .nav-link.active {
    background: #043927;
    color: #FBFCFA;
    border-radius: 5px;
  } */

  /* ########## Search */
  body {
    background-image: linear-gradient(to right , #cb2d3e , #ef473a);
}

.searchBox {
    position: absolute;
    top: 20%;
    left: 55%;
    transform:  translate(-100%,50%);
    background: #FBFCFA;
    height: 40px;
    border-radius: 40px;
    padding: 0px;

}



.searchBox:hover > .searchButton {
  background: #043927;
  color : #FBFCFA;
}

.searchButton {
    color: #050301;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #FBFCFA;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}

.searchInput {
    border:none;
    background: #FBFCFA;
    outline:none;
    float:left;
    padding: 0;
    color: #050301;
    font-size: 16px;
    line-height: 40px;
    width: 240px;
    padding: 0 8px;

}

@media screen and (max-width: 620px) {
.searchBox:hover > .searchInput {
    width: 150px;
    padding: 0 6px;
}
}

@media screen and (max-width: 480px) {
  .searchInput {width: 150px;}}

@media screen and (max-width: 480px) {
    .searchBox {
        position: absolute;
        top: 7%;
        left: 40%;
        transform:  translate(-10%,50%);
        background: #FBFCFA;
        height: 40px;
        border-radius: 40px;
        padding: 0px;
    }
}

/* ### dark & light mode */

.toggle {
  font-size: 1.5rem;
  border: .125em solid currentColor;
  border-radius: 2em;
  cursor: pointer;
  display: block;
  height: 2em;
  position: relative;
  width: 7rem;
  margin-right: 10rem;
  background-color: #050301;
}
.toggle span {
  background-color: #FBFCFA;
  border-radius: 2em;
  display: block;
  height: 1.6em;
  left: .25em;
  overflow: hidden;
  position: absolute;
  top: .10em;
  text-indent: -9999px;
  transition: left .25s;
  width: 3rem;
  z-index: 2;
}

.toggle::before,
.toggle::after {
  content: '';
  display: block;
  border-radius: 1em;
  position: absolute;
  z-index: 1;
}

.toggle::after {
  box-shadow: .25em .25em #5901d8;
  height: 1.125em;
  right: .9em;
  top: .125em;
  width: 1.125em;
}

.toggle::before {
  background-color: #ffc409;
  height: .625em;
  outline: .25em dotted #ffc409;
  outline-offset: .125em;
  left: .7em;
  top: .7em;
  width: .625em;
}

input:checked ~ .toggle span {
  left: 2em;
}


.sr-only {
  position: absolute;
  left: -9999px;
  opacity: 0;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color .25s;
  color: #1e1e1e;
  background: linear-gradient(to bottom right, #eefff4 25%, #043927 50%, #050301 75%, #043927);
  background-size: 300% 300%;
  background-position: top left;
  transition: background-position .5s;
}
body,
html {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}


body:has(#darkmode-toggle:checked) {
  background-position: 100% 100%;
  color: #d0d0d0;
}
   
     